USE [blogtural]
GO
/****** Object:  Table [dbo].[tbl_admin]    Script Date: 25.06.2020 19:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_admin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_admin] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_category]    Script Date: 25.06.2020 19:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NULL,
	[PhotoId] [int] NULL,
	[Aciqlama] [nvarchar](500) NULL,
	[Keyword] [nvarchar](500) NULL,
 CONSTRAINT [PK_tbl_category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_comment]    Script Date: 25.06.2020 19:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NULL,
	[Context] [nvarchar](max) NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Tarixi] [datetime] NULL,
 CONSTRAINT [PK_tbl_comment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_etiket]    Script Date: 25.06.2020 19:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_etiket](
	[EtiketId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NULL,
 CONSTRAINT [PK_tbl_etiket] PRIMARY KEY CLUSTERED 
(
	[EtiketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_muellif_takip]    Script Date: 25.06.2020 19:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_muellif_takip](
	[UserId] [int] NOT NULL,
	[MuellifId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_muellif_takip] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[MuellifId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_post]    Script Date: 25.06.2020 19:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_post](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[MuellifId] [int] NULL,
	[Baslig] [nvarchar](300) NULL,
	[Context] [nvarchar](max) NULL,
	[PhotoId] [int] NULL,
	[CategoryId] [int] NULL,
	[Tarixi] [datetime] NULL,
	[Baxis] [int] NULL,
	[Beyenme] [int] NULL,
	[Keyword] [nvarchar](500) NULL,
	[QebulEdildi] [bit] NULL,
	[Aktiv] [bit] NULL,
 CONSTRAINT [PK_tbl_post_1] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_post_etiket]    Script Date: 25.06.2020 19:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_post_etiket](
	[PostId] [int] NOT NULL,
	[EtiketId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_post_etiket] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC,
	[EtiketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_rol]    Script Date: 25.06.2020 19:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_rol](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[RolAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_rol] PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_sekil]    Script Date: 25.06.2020 19:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_sekil](
	[PhotoId] [int] IDENTITY(1,1) NOT NULL,
	[Kicik] [nvarchar](500) NULL,
	[Orta] [nvarchar](500) NULL,
	[Boyuk] [nvarchar](500) NULL,
	[PostId] [int] NULL,
 CONSTRAINT [PK_tbl_sekil] PRIMARY KEY CLUSTERED 
(
	[PhotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_userrol]    Script Date: 25.06.2020 19:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_userrol](
	[userrolId] [int] IDENTITY(1,1) NOT NULL,
	[RolId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_userrol] PRIMARY KEY CLUSTERED 
(
	[RolId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_users]    Script Date: 25.06.2020 19:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NULL,
	[Sifre] [nvarchar](500) NULL,
	[Mail] [nvarchar](70) NULL,
	[DogumTarixi] [datetime] NULL,
	[QeydiyyatTarixi] [datetime] NULL,
	[PhotoId] [int] NULL,
	[Yazar] [bit] NULL,
	[Aktiv] [bit] NULL,
	[QebulEdildi] [bit] NULL,
	[Cinsi] [bit] NULL,
 CONSTRAINT [PK_tbl_users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_category] ON 

INSERT [dbo].[tbl_category] ([CategoryId], [Ad], [PhotoId], [Aciqlama], [Keyword]) VALUES (1, N'Texnologiya', 6, N'Texnologiya', N'Texnologiya')
INSERT [dbo].[tbl_category] ([CategoryId], [Ad], [PhotoId], [Aciqlama], [Keyword]) VALUES (2, N'Canlilar', 9, N'Canlilar', N'Canlilar')
INSERT [dbo].[tbl_category] ([CategoryId], [Ad], [PhotoId], [Aciqlama], [Keyword]) VALUES (3, N'Riyaziyyat', 36, N'Riyaziyyat', N'Riyaziyyat')
SET IDENTITY_INSERT [dbo].[tbl_category] OFF
SET IDENTITY_INSERT [dbo].[tbl_etiket] ON 

INSERT [dbo].[tbl_etiket] ([EtiketId], [Ad]) VALUES (1, N'tural')
INSERT [dbo].[tbl_etiket] ([EtiketId], [Ad]) VALUES (2, N'hemze')
INSERT [dbo].[tbl_etiket] ([EtiketId], [Ad]) VALUES (3, N'nicat')
SET IDENTITY_INSERT [dbo].[tbl_etiket] OFF
SET IDENTITY_INSERT [dbo].[tbl_post] ON 

INSERT [dbo].[tbl_post] ([PostId], [MuellifId], [Baslig], [Context], [PhotoId], [CategoryId], [Tarixi], [Baxis], [Beyenme], [Keyword], [QebulEdildi], [Aktiv]) VALUES (10, 1, N'Aya heqiqeten gedildimi ?', N'Aya heqiqeten gedildimi ?Aya heqiqeten gedildimi ?Aya heqiqeten gedildimi ?', 7, 1, CAST(N'2020-06-02T16:52:18.980' AS DateTime), 73, 305, NULL, 1, NULL)
INSERT [dbo].[tbl_post] ([PostId], [MuellifId], [Baslig], [Context], [PhotoId], [CategoryId], [Tarixi], [Baxis], [Beyenme], [Keyword], [QebulEdildi], [Aktiv]) VALUES (11, 1, N'Siyonizm haqqinda', N'dsadadadada', 6, 1, CAST(N'2020-06-06T14:39:04.180' AS DateTime), 2, 2, NULL, 1, NULL)
INSERT [dbo].[tbl_post] ([PostId], [MuellifId], [Baslig], [Context], [PhotoId], [CategoryId], [Tarixi], [Baxis], [Beyenme], [Keyword], [QebulEdildi], [Aktiv]) VALUES (13, 8, N'Musa misirli idi', N'dsadadadadadsadsadasda', 9, 1, CAST(N'2020-06-06T20:03:02.960' AS DateTime), 6, 4, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[tbl_post] OFF
INSERT [dbo].[tbl_post_etiket] ([PostId], [EtiketId]) VALUES (10, 34)
INSERT [dbo].[tbl_post_etiket] ([PostId], [EtiketId]) VALUES (10, 35)
INSERT [dbo].[tbl_post_etiket] ([PostId], [EtiketId]) VALUES (11, 1)
SET IDENTITY_INSERT [dbo].[tbl_rol] ON 

INSERT [dbo].[tbl_rol] ([RolId], [RolAdi]) VALUES (1, N'Istifadeci')
INSERT [dbo].[tbl_rol] ([RolId], [RolAdi]) VALUES (2, N'Yazar')
INSERT [dbo].[tbl_rol] ([RolId], [RolAdi]) VALUES (3, N'Admin')
SET IDENTITY_INSERT [dbo].[tbl_rol] OFF
SET IDENTITY_INSERT [dbo].[tbl_sekil] ON 

INSERT [dbo].[tbl_sekil] ([PhotoId], [Kicik], [Orta], [Boyuk], [PostId]) VALUES (4, NULL, NULL, N'/Upload/dino.jpg', NULL)
INSERT [dbo].[tbl_sekil] ([PhotoId], [Kicik], [Orta], [Boyuk], [PostId]) VALUES (5, NULL, NULL, N'/Upload/sagan.jpg', NULL)
INSERT [dbo].[tbl_sekil] ([PhotoId], [Kicik], [Orta], [Boyuk], [PostId]) VALUES (6, NULL, NULL, N'/Upload/jew.jpg', NULL)
SET IDENTITY_INSERT [dbo].[tbl_sekil] OFF
SET IDENTITY_INSERT [dbo].[tbl_userrol] ON 

INSERT [dbo].[tbl_userrol] ([userrolId], [RolId], [UserId]) VALUES (1, 1, 1)
INSERT [dbo].[tbl_userrol] ([userrolId], [RolId], [UserId]) VALUES (10, 2, 11)
INSERT [dbo].[tbl_userrol] ([userrolId], [RolId], [UserId]) VALUES (1003, 2, 1008)
SET IDENTITY_INSERT [dbo].[tbl_userrol] OFF
SET IDENTITY_INSERT [dbo].[tbl_users] ON 

INSERT [dbo].[tbl_users] ([UserId], [Ad], [Soyad], [Login], [Sifre], [Mail], [DogumTarixi], [QeydiyyatTarixi], [PhotoId], [Yazar], [Aktiv], [QebulEdildi], [Cinsi]) VALUES (1, N'Hemze', N'Ismayilov', N'Hemze5411', N'123321', N'hemze@mail.ru', CAST(N'2000-10-18T00:00:00.000' AS DateTime), CAST(N'2020-06-01T20:26:18.680' AS DateTime), 6, 0, 1, 1, 0)
INSERT [dbo].[tbl_users] ([UserId], [Ad], [Soyad], [Login], [Sifre], [Mail], [DogumTarixi], [QeydiyyatTarixi], [PhotoId], [Yazar], [Aktiv], [QebulEdildi], [Cinsi]) VALUES (8, N'Tural', N'Abdulxaliqov', N'Tural5411', N'123321', N'turik@mail.ru', CAST(N'1999-10-10T00:00:00.000' AS DateTime), CAST(N'2020-06-04T11:39:09.613' AS DateTime), NULL, 0, 1, 1, 0)
INSERT [dbo].[tbl_users] ([UserId], [Ad], [Soyad], [Login], [Sifre], [Mail], [DogumTarixi], [QeydiyyatTarixi], [PhotoId], [Yazar], [Aktiv], [QebulEdildi], [Cinsi]) VALUES (11, N'Fatime', N'Abdullayeva', N'Fatime5411', N'123321', N'fatime@mail.ru', CAST(N'2002-02-02T00:00:00.000' AS DateTime), CAST(N'2020-06-04T13:59:49.957' AS DateTime), NULL, 1, 1, 0, 1)
SET IDENTITY_INSERT [dbo].[tbl_users] OFF
ALTER TABLE [dbo].[tbl_comment] ADD  CONSTRAINT [DF_tbl_comment_Tarixi]  DEFAULT (getdate()) FOR [Tarixi]
GO
ALTER TABLE [dbo].[tbl_post] ADD  CONSTRAINT [DF_tbl_post_Tarixi]  DEFAULT (getdate()) FOR [Tarixi]
GO
ALTER TABLE [dbo].[tbl_post] ADD  CONSTRAINT [DF_tbl_post_QebulEdildi]  DEFAULT ((0)) FOR [QebulEdildi]
GO
ALTER TABLE [dbo].[tbl_post] ADD  CONSTRAINT [DF_tbl_post_Aktiv]  DEFAULT ((0)) FOR [Aktiv]
GO
ALTER TABLE [dbo].[tbl_users] ADD  CONSTRAINT [DF_tbl_users_QeydiyyatTarixi]  DEFAULT (getdate()) FOR [QeydiyyatTarixi]
GO
ALTER TABLE [dbo].[tbl_users] ADD  CONSTRAINT [DF_tbl_users_Yazar]  DEFAULT ((0)) FOR [Yazar]
GO
ALTER TABLE [dbo].[tbl_users] ADD  CONSTRAINT [DF_tbl_users_QebulEdildi]  DEFAULT ((0)) FOR [QebulEdildi]
GO
ALTER TABLE [dbo].[tbl_category]  WITH CHECK ADD  CONSTRAINT [FK_tbl_category_tbl_sekil] FOREIGN KEY([PhotoId])
REFERENCES [dbo].[tbl_sekil] ([PhotoId])
GO
ALTER TABLE [dbo].[tbl_category] CHECK CONSTRAINT [FK_tbl_category_tbl_sekil]
GO
ALTER TABLE [dbo].[tbl_comment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_comment_tbl_post] FOREIGN KEY([PostId])
REFERENCES [dbo].[tbl_post] ([PostId])
GO
ALTER TABLE [dbo].[tbl_comment] CHECK CONSTRAINT [FK_tbl_comment_tbl_post]
GO
ALTER TABLE [dbo].[tbl_muellif_takip]  WITH CHECK ADD  CONSTRAINT [FK_tbl_muellif_takip_tbl_users] FOREIGN KEY([UserId])
REFERENCES [dbo].[tbl_users] ([UserId])
GO
ALTER TABLE [dbo].[tbl_muellif_takip] CHECK CONSTRAINT [FK_tbl_muellif_takip_tbl_users]
GO
ALTER TABLE [dbo].[tbl_muellif_takip]  WITH CHECK ADD  CONSTRAINT [FK_tbl_muellif_takip_tbl_users1] FOREIGN KEY([MuellifId])
REFERENCES [dbo].[tbl_users] ([UserId])
GO
ALTER TABLE [dbo].[tbl_muellif_takip] CHECK CONSTRAINT [FK_tbl_muellif_takip_tbl_users1]
GO
ALTER TABLE [dbo].[tbl_post]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_tbl_category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tbl_category] ([CategoryId])
GO
ALTER TABLE [dbo].[tbl_post] CHECK CONSTRAINT [FK_tbl_post_tbl_category]
GO
ALTER TABLE [dbo].[tbl_post]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_tbl_sekil] FOREIGN KEY([PhotoId])
REFERENCES [dbo].[tbl_sekil] ([PhotoId])
GO
ALTER TABLE [dbo].[tbl_post] CHECK CONSTRAINT [FK_tbl_post_tbl_sekil]
GO
ALTER TABLE [dbo].[tbl_post]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_tbl_users] FOREIGN KEY([MuellifId])
REFERENCES [dbo].[tbl_users] ([UserId])
GO
ALTER TABLE [dbo].[tbl_post] CHECK CONSTRAINT [FK_tbl_post_tbl_users]
GO
ALTER TABLE [dbo].[tbl_post_etiket]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_etiket_tbl_etiket] FOREIGN KEY([EtiketId])
REFERENCES [dbo].[tbl_etiket] ([EtiketId])
GO
ALTER TABLE [dbo].[tbl_post_etiket] CHECK CONSTRAINT [FK_tbl_post_etiket_tbl_etiket]
GO
ALTER TABLE [dbo].[tbl_post_etiket]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_etiket_tbl_post] FOREIGN KEY([PostId])
REFERENCES [dbo].[tbl_post] ([PostId])
GO
ALTER TABLE [dbo].[tbl_post_etiket] CHECK CONSTRAINT [FK_tbl_post_etiket_tbl_post]
GO
ALTER TABLE [dbo].[tbl_userrol]  WITH CHECK ADD  CONSTRAINT [FK_tbl_userrol_tbl_rol] FOREIGN KEY([RolId])
REFERENCES [dbo].[tbl_rol] ([RolId])
GO
ALTER TABLE [dbo].[tbl_userrol] CHECK CONSTRAINT [FK_tbl_userrol_tbl_rol]
GO
ALTER TABLE [dbo].[tbl_userrol]  WITH CHECK ADD  CONSTRAINT [FK_tbl_userrol_tbl_users] FOREIGN KEY([UserId])
REFERENCES [dbo].[tbl_users] ([UserId])
GO
ALTER TABLE [dbo].[tbl_userrol] CHECK CONSTRAINT [FK_tbl_userrol_tbl_users]
GO
ALTER TABLE [dbo].[tbl_users]  WITH CHECK ADD  CONSTRAINT [FK_tbl_users_tbl_sekil] FOREIGN KEY([PhotoId])
REFERENCES [dbo].[tbl_sekil] ([PhotoId])
GO
ALTER TABLE [dbo].[tbl_users] CHECK CONSTRAINT [FK_tbl_users_tbl_sekil]
GO
